<form class="inputArea" action="index.html" method="post">

  <input type="text" ng-model="mad.noun1" placeholder="noun">
  <input type="text" ng-model="mad.noun2" placeholder="noun">
  <input type="text" ng-model="mad.noun3" placeholder="noun">
  <input type="text" ng-model="mad.verb1" placeholder="verb">
  <input type="text" ng-model="mad.verb2" placeholder="verb past tense" >
  <input type="text" ng-model="mad.adj1" placeholder="adjective">
  <input type="text" ng-model="mad.adj2"  placeholder="adjective">

  <button type="button" name="button" ng-click="addInput(mad)">Submit</button>

</form>
