

<p id='para'>One day a {{print.adj2}} {{print.noun1}} walked into the forest. The forest
  was dark and scary and filled with Trolls. The Trolls enjoyed {{print.verb1}} the trees.
  The Trolls also enjoyed scaring the {{print.noun2}} who also lived in the forest. One day
  a really {{print.adj1}} Lumberjack came to the forest to cut down the trees and was accousted
  by the {{print.adj2}} {{print.noun1}}. He was so scared he {{print.verb2}} his satchel which one
  of the Trolls picked up and gave to a young {{print.noun3}}. And thus the story begins....
</p>
